/* p {
  background-color: red;
}
h3 {
  background-color: red;
  text-align: center;
  text-decoration: underline;
}
span style {
  width: 200px;
  height: 100px;
}
div span {
  margin-right: 30px;
  display: inline-block;
  background-color: orange;
  height: 200px;
  width: auto;
}
div {
  background-color: orange;
} */
