<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>파일 업로드 실습</h1>
    <form action="/result" method="post" enctype="multipart/form-data">
      <label for="userid">아이디:</label>
      <input type="text" name="userId" id="userId" />
      <label for="pw">비밀번호:</label>
      <input type="password" name="pw" id="pw" />
      <label for="username">이름:</label>
      <input type="text" name="username" id="username" />
      <label for="age">나이:</label>
      <input type="number" name="age" id="age" />
      <label for="profile">프로필:</label>
      <input type="file" name="profile" id="profile" />
      <button type="button">리셋</button>
      <button type="submit">회원가입</button>
    </form>
    <br />
    <div class="reslut"></div>
    <script>
      const resultBox = document.querySelector(".result");
      function fileupload() {
        const file = document.getElementById("dynmaic-file");
        console.log(file.files[0]);
        // 폼 형식으로 넣어주기(백엔드는 폼형태로 받기 때문에)
        const formData = new FormData();
        formData.append("dynamic-userfile", file.files[0]);

        axios({
          method: "post",
          url: "/dynamicFile",
          data: formData,
          headers: {
            "content-type": "multipart/form-data",
          },
        }).then((res) => {
          console.log("res", res);
          resultBox.innerHTML = `<div><img src=${res.data.path} ></div>`;
        });
      }
    </script>
  </body>
</html>
